.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px 6px;
}


.page-item,
.page-link {
    list-style:none;
    display: inline-flex;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    justify-content: center;
    /* font-weight: 700; */
    /* font-size: 16px; */
    height: 40px;
    width: 40px;
}

.active {
    color: green;
    font-weight: 700;
    font-size: 16px;
}